# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\GitHub\TIW-Project-Prisciantelli-Pizzamiglio-Romagnoni\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
